.aboutMe {
  overflow-y: scroll;
  font-family: 'Roboto Mono', monospace;
}

.aboutMe h2 {
  font-size: 6rem;
  /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
}

.aboutMe h3 {
  text-align: center;
  margin-bottom: 30px;
}

.aboutMe p {
  font-size: 2rem;
}
.aboutMeHeader {
  display: flex;
  justify-content: center;
}

.aboutMeContent {
  width: 85%;
  margin: auto;
}

.typewriter h2 {
  overflow: hidden;
  border-right: 0.1em solid #033495;
  white-space: nowrap;
  margin: 0 auto;
  animation: typing 2s steps(40, end), blink-caret 0.75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #033495;
  }
}
