#landingPage {
  position: relative;
}

#landingPage h3 {
  text-align: center;
  margin: 20px 0;
  padding: 10px;
  background-color: #e0dffd7e;
  font-size: 0.9rem;
  letter-spacing: 4px;
}


.active {
  z-index: 100;
}

.inActive {
  z-index: 1;
}