#mobileSkill .skillText {
  letter-spacing: 0.5px;
  line-height: 20px;
}

/***************************************************/
/****************** MEDIA QUERIES ******************/
@media only screen and (min-width: 500px) and (max-width: 1223px) {
  #mobileSkill {
    display: grid;
    grid-template-columns: 0.25fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;
  }

  #mobileSkill .skillImg {
    grid-area: 1 / 1 / 2 / 2;
    padding-right: 20px;
  }

  #mobileSkill .skillText {
    grid-area: 1 / 2 / 2 / 3;
    padding-left: 20px;
  }
}

@media only screen and (max-width: 499px) {
  #mobileSkill {
    text-align: center;
  }

  #mobileSkill .skillImg {
    width: 50px;
    margin: 8px 0;
  }
}
