#mobileSummary {
  background-color: #9c9cb7;
  color: white;
  /* color: #46467a; */
  font-family: 'Roboto Mono', monospace;
}

#mobileSummary .summaryText {
  font-size: 1.2rem;
  line-height: 32px;
  text-align: center;
  padding-top: 110px;
  padding-bottom: 110px;
  color: white;
}

#mobileSummary .link {
  display: block;
  margin-top: 30px;
  text-decoration: none;
  color: #46467a;
  font-size: 1rem;
  letter-spacing: 1px;
}

#mobileSummary .link:hover {
  font-weight: 500;
  text-decoration: underline;
}