.projectsDir {
  height: 100%;
  width: 100%;
  top: 0%;
  left: 0%;
  z-index: 11;
}

.grid {
  height: 100%;
  display: grid;
  grid-template-columns: 0.3fr 1fr;
  grid-template-rows: 1fr 0.38fr;
}

.sidebar {
  background-color: #ebeaf8;
  border-right: 1px solid #46467a;
  border-bottom-left-radius: 10px;
  grid-area: 1 / 1 / 3 / 2;
}

.gallery {
  grid-area: 1 / 2 / 2 / 3;
}

.projectsDir {
  grid-area: 2 / 2 / 3 / 3;
}

.sidebar ul {
  padding-left: 0;
}

.sidebar li {
  padding: 15px 25px;
  border-bottom: 1px solid #46467a;
  list-style-type: none;
  margin-left: 0;
  letter-spacing: 1.5px;
}

.sidebar li:hover {
  background-color: #867ec4;
  color: white;
}
