#resumeWindow {
  width: max-content;
  height: 80%;
  width: 65%;
  top: 5%;
  left: 22.3%;
}

.resume {
  height: 714px;
}

.resumeImg {
  width: 100%;
}

/***************************************************/
/****************** MEDIA QUERIES ******************/
/* Laptop */
@media only screen and (max-width: 1440px)  {
  #resumeWindow {
    left: 17.5%;
  }
  .resume {
    height: 571px;
  }
}