#resumeWindow {
  width: max-content;
  height: 80%;
  width: 65%;
  top: 5%;
  left: 14.8%;
}

.resume {
  height: 100%;
}

.resumeImg {
  width: 100%;
}

/* Resume <Window> component's content */
.actionBar {
  height: 6%;
}

.content {
  height: 94%;
}

/***************************************************/
/****************** MEDIA QUERIES ******************/
/* Laptop */
@media only screen and (max-width: 1440px)  {
  #resumeWindow {
    left: 17.5%;
  }
}