* {
  box-sizing: border-box;
  margin: 0px;
}

body {
  background-color: #46467a71;
  color: #46467a;
  height: 100vh;
  overflow: hidden;
  font-family: 'Roboto', sans-serif;
  overflow-y: scroll;
}
