* {
  box-sizing: border-box;
  margin: 0px;
}

body {
  background-color: #46467a71;
  color: #46467a;
  height: 100vh;
  overflow: hidden;
  font-family: 'Roboto', sans-serif;
}

h3 {
  text-align: center;
  margin: 20px 0;
  padding: 10px;
  background-color: #e0dffd7e;
  font-size: 0.9rem;
  letter-spacing: 4px;
}
