.iconWrapper {
  text-align: center;
  margin: 0 20px 30px;
  padding: 10px 13px;
  border-radius: 5%;
}

.icon {
  width: 80px;
}

.iconWrapper:hover {
  /* background-color: rgba(236, 201, 136, 0.547); */
  /* background-color: #aed8ff60; */
  background-color: #ccaeff60;
}

.iconName {
 letter-spacing: 0.8px;
}
