#accordian .accordion {
  margin: 20px auto;
  padding: 15px 40px;
  color: #46467a;
}

#accordian .summary {
  column-count: 2;
  column-gap: 70px;
  padding: 15px 25px 15px 60px;
}

#accordian .details {
  margin-top: 10px;
  letter-spacing: 0.5px;
}

#accordian img {
  height: 100%;
  align-self: center;
}
